{% extends "base.html" %}
{% block title %}トピックの詳細 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-8 mx-auto bg-light">
            <p><a href="{% url 'account:detail' topic.user %}"><span style="font-size:20px">{{topic.user.handle}}</span> | {{topic.user}}</a></p>
            <p style="font-size:22px">{{topic.content}}</p>
            <p class="text-right">{{topic.date_time}}</p>
            <p>
                <a href="{% url 'board:reply' topic.id %}">返信する</a>
                {% if liked %}
                <p><a href="{% url 'board:like' topic.id %}">お気に入り解除</a></p>
                {% else %}
                <p><a href="{% url 'board:like' topic.id %}">お気に入り登録</a></p>
                {% endif %}

            </p>
        </div>
        <div class="col-8 mx-auto p-4 m-2">
        
        {% if replies %}
        <p>このトピックへの返信</p>
            {% for reply in replies %}
            <div class="col mx-auto bg-light p-2 m-2">
                <p><a href="{% url 'account:detail' reply.user %}">{{reply.user.handle}}</a> | {{reply.user.user}}</p>
                <p><a href="{% url 'board:detail' reply.id %}">{{reply.content}}</a></p>
                <p>{{topic.date_time|date:"m/d"}}</p>
            </div>
            {% endfor %}
        {% else %}
        <p>このトピックへの返信はありません</p>
        {% endif %}
        
        </div>

    </div>
</div>
{% endblock content %}