{% extends "base.html" %}
{% block title %}返信の作成 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-8 mx-auto bg-light">
        {% for topic in topics %}
        
        <p><a href="{% url 'account:detail' topic.user %}">{{topic.user.handle}} {{topic.user}}</a></p>
        <p>{{topic.content}}</p>
        <p>{{topic.date_time}}</p> 
        
        {% endfor %}
        </div>
        
        <div class="col-8 mx-auto mt-5">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="送信">
            </form>
        </div>
    </div>
</div>
{% endblock content %}