{% extends "base.html" %}
{% block title %}{{userhandle}}({{username}})がフォロー中のユーザ | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-10">
            <p>{{userhandle}}さんがフォロー</p>
        </div>
        {% if follow %}
        {% for f in follow  %}
            <div class="col-8 mx-auto bg-light m-2 p-2">
                <p><a href="{% url 'account:detail' f.followed_user.user.username %}"><span style="font-size:20px">{{f.followed_user.handle}}</span> {{f.followed_user.user}}</a></p>
                <p>{{f.followed_user.biograph}}
            </div>
        {% endfor %}
    {% else %}
    <div class="col-8">
        <p>{{userhandle}}さんは，誰もフォローしていません．</p>
    </div>
    {% endif %}
        
    </div>
</div>
{% endblock content %}