{% extends "base.html" %}
{% block title %}{{userhandle}}({{username}})さんのフォロワー | {{block.super}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
    {% if follower %}
        {% for f in follower %}
            <div class="col-8 mx-auto bg-light m-2 p-2">
                <p><a href="{% url 'account:detail' f.following_user.user.username %}"><span style="font-size:20px;">{{f.following_user.handle}}</span> {{f.following_user.user}}</a></p>
                <p>{{f.following_user.biograph}}</p>
            </div>
        {% endfor %}
    {% else %}
    <p>{{userhandle}}さんは，誰からもフォローされていません．</p>
    {% endif %}
        
    </div>
</div>
{% endblock content %}
