{% extends 'base.html' %}
{% block title %}{{profile.handle}} | {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <p>{{profile.handle}} {{profile.user.username}}</p>
            <p>{{profile.location}}</p>
            <p>{{profile.biograph}}</p>
            <p><a href="{% url 'account:followinglist' profile.user.username %}">フォロー({{following_count}})</a> <a href="{% url 'account:followerlist' profile.user.username %}">フォロワー({{followed_count}})</a></p>
            <p><a href="{% url 'account:follow' profile.user.username %}">
            {% if is_sameuser %}
            {% else %}
                {% if is_following %}
                アンフォロー
                {% else %}
                フォロー
                {% endif %}
            {% endif %}
            
            </a></p>
        </div>
    </div>
</div>
{% endblock content %}