{% extends 'base.html' %}
{% block title %}{{profile.handle}} | {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-10 mx-auto">
            <p><span style="font-size:30px">{{profile.handle}}</span> | {{profile.user.username}}</p>
            <p>Loc：{{profile.location}}</p>
            <p>Bio：{{profile.biograph}}</p>
            <p><a href="{% url 'account:followinglist' profile.user.username %}">フォロー({{following_count}})</a> <a href="{% url 'account:followerlist' profile.user.username %}">フォロワー({{followed_count}})</a></p>
            <p><a href="{% url 'account:follow' profile.user.username %}">
            {% if is_sameuser %}
            {% else %}
                {% if is_following %}
                アンフォロー
                {% else %}
                フォロー
                {% endif %}
            {% endif %}
            </a></p>
        </div>
    </div>
    <div class="row">
            {% for topic in topics_w_reply %}
            <div class="col-8 p-4 m-2 bg-light mx-auto">
                <p><a href="{% url 'account:detail' topic.user %}">{{topic.user.handle}}</a> | {{topic.user.user}}</p>
                <p><a href="{% url 'board:detail' topic.id %}">{{topic.content}}</a></p>
                <p>{{topic.date_time|date:"m/d"}}</p>
                <p><a href="{% url 'board:reply' topic.id %}">返信する</a>
                <a href="{% url 'board:detail' topic.id %}">返信を見る</a>
                {% if is_sameuser %}
                <a href="{% url 'board:delete' topic.id %}">削除</a></p>
                {% endif %}
            </div>
            {% endfor %}
    </div>
</div>
{% endblock content %}