{% extends 'base.html' %}
{% block title %}{{profile.handle}} | {{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-10 mx-auto">
            <p><span style="font-size:30px">{{profile.handle}}</span> | {{profile.user.username}}</p>
            <p>Loc：{{profile.location}}</p>
            <p>Bio：{{profile.biograph}}</p>
            <p><a href="{% url 'account:followinglist' profile.user.username %}">フォロー({{following_count}})</a> <a href="{% url 'account:followerlist' profile.user.username %}">フォロワー({{followed_count}})</a></p>
            <p><a href="{% url 'account:follow' profile.user.username %}">
            {% if is_sameuser %}
            {% else %}
                {% if is_following %}
                アンフォロー
                {% else %}
                フォロー
                {% endif %}
            {% endif %}
            </a></p>
        </div>
    </div>
    <div class="col-8 mx-auto">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#topics-wo-reply" class="nav-link active" data-toggle="tab">トピック一覧</a>
        </li>
        <li class="nav-item">
            <a href="#topics-w-reply" class="nav-link" data-toggle="tab">トピック・返信一覧</a>
        </li>
        <li class="nav-item">
            <a href="#liked-topics" class="nav-link" data-toggle="tab">お気に入りトピック一覧</a>
        </li>
    </ul>
    </div>
    
    <div class="tab-content">
        <div id="topics-wo-reply" class="tab-pane active">
            {% if topics_wo_reply %}
            {% for topic in topics_wo_reply %}
            <div class="col-8 p-4 m-2 bg-light mx-auto">
                <p><a href="{% url 'account:detail' topic.user %}">{{topic.user.handle}}</a> | {{topic.user.user}}</p>
                <p><a href="{% url 'board:detail' topic.id %}">{{topic.content}}</a></p>
                <p>{{topic.date_time|date:"m/d"}}</p>
                <p><a href="{% url 'board:reply' topic.id %}">返信する</a>
                <a href="{% url 'board:detail' topic.id %}">返信を見る</a>
                {% if is_sameuser %}
                <a href="{% url 'board:delete' topic.id %}">削除</a></p>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="col-8 mx-auto">
                <p>表示するトピックがありません</p>
            </div>
            {% endif %}
        </div>
        <div id="topics-w-reply" class="tab-pane">
            {% if topic_w_reply %}
            {% for topic in topics_w_reply %}
            <div class="col-8 p-4 m-2 bg-light mx-auto">
                <p><a href="{% url 'account:detail' topic.user %}">{{topic.user.handle}}</a> | {{topic.user.user}}</p>
                <p><a href="{% url 'board:detail' topic.id %}">{{topic.content}}</a></p>
                <p>{{topic.date_time|date:"m/d"}}</p>
                <p><a href="{% url 'board:reply' topic.id %}">返信する</a>
                <a href="{% url 'board:detail' topic.id %}">返信を見る</a>
                {% if is_sameuser %}
                <a href="{% url 'board:delete' topic.id %}">削除</a></p>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="col-8 mx-auto">
                <p>表示するトピックがありません</p>
            </div>
            {% endif %}
        </div>
        <div id="liked-topics" class="tab-pane">
            {% if liked_topics %}
            {% for topic in liked_topics %}
            <div class="col-8 p-4 m-2 bg-light mx-auto">
                <p><a href="{% url 'account:detail' topic.user %}">{{topic.user.handle}}</a> | {{topic.user.user}}</p>
                <p><a href="{% url 'board:detail' topic.id %}">{{topic.content}}</a></p>
                <p>{{topic.date_time|date:"m/d"}}</p>
                <p><a href="{% url 'board:reply' topic.id %}">返信する</a>
                <a href="{% url 'board:detail' topic.id %}">返信を見る</a>
                {% if is_sameuser %}
                <a href="{% url 'board:delete' topic.id %}">削除</a></p>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="col-8 mx-auto">
                <p>表示するトピックがありません</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>



{% endblock content %}